<div style="text-align:center"><h1 id="title">My habits board</h1></div>
<div class="habit">
  <div class="habit-title"><h3>Practice Soccer</h3></div>
  <div class="dots">
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-active"></span>
    <span class="dot-active"></span> <span class="dot-active"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
  </div>
  <div class="check"><button class="check-button">Check!</button></div>
</div>

<div class="habit">
  <div class="habit-title"><h3>Reading</h3></div>
  <div class="dots">
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-active"></span>
    <span class="dot-active"></span> <span class="dot-active"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
    <span class="dot-inactive"></span> <span class="dot-inactive"></span>
  </div>
  <div class="check"><button class="check-button">Check!</button></div>
</div>
