.dots {
  margin-top: 10px;
}

.dot-inactive {
  height: 19px;
  width: 19px;
  margin: 2px;
  border: 3px solid grey;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.dot-active {
  height: 25px;
  width: 25px;
  margin: 2px;
  background-color: #5af55a;
  border-radius: 50%;
  display: inline-block;
}

.habit {
  max-width: 590px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin-bottom: 20px;
}

.habit-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.check {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
